:root {
  --bar-height: 32px;
  --font-size: 12px;

  --background-color: rgba(13, 9, 10, 0.6);
  --text-color: rgba(234, 242, 239, 0.8);

  --shadow: 0 0 2px rgba(12, 14, 13, 0.8);
}

* {
	font-family: "JetBrains Mono";
}

html, body {
  padding: 0;
  margin: 0;
}

body {
	background: transparent;
	height: var(--bar-height);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

html, body, .bar, .bar * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.left, .right {
	font-size: var(--font-size);
	display: flex;
	align-items: center;
	width: fit-content;

	box-shadow: var(--shadow);

	margin-top: 10px;

	background-color: var(--background-color);
	color: var(--text-color);

	gap: 4px;
	
	padding: 5px;
	padding-top: 7px;

	border-radius: 20px;
}

.left {
	justify-content: left;
	margin-left: 8px;
	padding-right: 10px;
	padding-left: 10px;
}

.center {
	justify-content: center;
}

.right {
	justify-content: right;
	margin-right: 8px;
	padding-right: 10px;
	padding-left: 10px;
}

.right > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.spacer {
	width: 4px;
}

.activeWindow {
	
}

.clock {
	display: flex;
	align-items: center;
	gap: 4px;
}

.battery {
	display: flex;
	align-items: center;
	gap: 4px;

	position: relative;
	top: 0px;
}

.workspaces {

}

.active, .notActive {
	position: relative;
	top: 2px;
}

.active {

}

.notActive {

}

.brightness {
	display: flex;
	align-items: center;
	gap: 4px;
}

.material-icons-round {
	font-size: var(--font-size);
	position: relative;
	top: 1px;
}

.material-symbols-outlined {
	font-size: calc(var(--font-size) + 4px);
	position: relative;
}

.charging {
	top: 4px;
}

.discharging {
	top: 3px;
}

.wifi {
	font-size: var(--font-size);
	top: 1px;
}

.lan {
	font-size: var(--font-size);
	top: 1px;
}

.network {
	display: flex;
	align-items: center;
	gap: 6px;
}

.volume {
	display: flex;
	align-items: center;
	gap: 2px;
}

.volumeIcon {
	
}

.disk, .cpu, .memory {
	font-size: var(--font-size);
	position: relative;
	top: -1px;

	display: flex;
	align-items: center;
	gap: 2px;
}

.cpu a, .memory a, .disk a {
	position: relative;
	top: 0px;
	min-width: 3ch;
}

.diskIcon {
	top: 0px;
}

.cpuIcon {
	top: 0px;
}

.memoryIcon {
	top: 0px;
}

.icon {
	height: calc(var(--font-size) + 3px);
	position: relative;
	top: -1px;
	background-color: transparent;
}